.filterpro {
    /*width: 200px !important;*/
}
#filterpro_box {
	position: relative;
}
#filterpro_box .box-content {
    padding: 5px;
}
#filterpro_box input {
    margin: 0;
}
#filterpro_box td, #filterpro_box th, #filterpro_box input, #filterpro_box select, #filterpro_box a {
    
}
#filterpro_box a, #filterpro_box a:visited {
    color: #D14747;
}
#filterpro_box .option_box {
	margin-bottom:10px;
	padding:0 5px;
	border-radius:5px;
}
#filterpro_box .option_box.sliding .option_name { background: none; }
#filterpro_box .option_box.sliding .option_name.hided { background: none; }
#filterpro_box .option_box .option_name {
	color: #414141;
	padding:5px;
	font-weight: bold;
	margin-left:-5px;
	margin-right:-5px;
	cursor:pointer;
	background: url(../image/up-arr.png) no-repeat right 9px;
	background-size: 11px;
}
#filterpro_box .option_box .option_name.pricing, 
#filterpro_box .option_box .option_name.pricing.hided {
	background: none;
}
#filterpro_box .option_box .option_name.hided {
	background: url(../image/down-arr.png) no-repeat right 9px;
	background-size: 11px;
}

#filterpro_box .option_box table{
	margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}
#filterpro_box input[type="text"] {
	background:#FFF;
	color:#666;
}
#filterpro_box .price_limit {
    border: 1px solid #c7c7c7;
    color: #38B0E3;
    font-weight:300;
    width: 55px;
	text-align:center;
}
#filterpro_box .ui-widget-header {
    background: #57a8dd;
    border: 0 none;
    color: #FFFFFF;
    font-weight: bold;
}
#filterpro_box .ui-state-hover, #filterpro_box .ui-state-focus, #filterpro_box .ui-state-active {
    border: 1px solid #38B0E3;
    background: none repeat scroll 0 0 #d9f2fc;
}
#filterpro_box #slider-range {
	margin:10px 5px;
}
#filterpro_box .min_price_text{
	color:#808080;
}	
#filterpro_box label{
	color:#666;	
}
#filterpro_box .option_box table tr td, #filterpro ul.box-filter.option_box li ul.collapsible li {
	padding-right: 0px;
    position: relative;
}
#filterpro_box .option_box.sliding table tr td:last-child {
	text-align:right;
}

#filterpro_box a.clear_filter {
    border-bottom: thin dashed;
    position: absolute;
    right: 6px;
    text-decoration: none;
    top: 5px;
}

#filterpro_box .ui-slider-horizontal {
height: .2em !important;
}
#filterpro_box .ui-state-default, #filterpro_box .ui-widget-content .ui-state-default, #filterpro_box .ui-widget-header .ui-state-default {
    background: url(../image/slider-handle.png) no-repeat !important;
	
    background-size: 100% 100% !Important;
    border: 0 !important;
    margin-top: -2px;
    outline: none;
    cursor: pointer !important;
}
#filterpro_box input[type='checkbox'] {
	display: none;	
}

#filterpro_box input[type='checkbox'] + label {
    display: inline;
    background: url(../image/checkboxes2.png) no-repeat;
    padding-left: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: -6px;
}
#filterpro_box input[type='checkbox'] + label +label {
    padding-left: 2px;
    display: inline;
    padding-right: 20px;
}

#filterpro_box input[type='checkbox']:checked + label {
	background-position: -14px 0;
}	
#filterpro_box input[type='checkbox']:disabled + label {
	background-position: -28px 0;
}
#filterpro_box .sliding .option_name {
    display: inline-block;
	
    width: 76px;
}
#filterpro_box .sliding .collapsibles {
    display: inline-block;
    width: 109px;
    vertical-align: middle;
    margin-top: -17px;
}

#filterpro .option_box .collapsible input[type="checkbox"].option_value:disabled + img {
    opacity: 0.2;

}
#filterpro .option_box .collapsible img.selected {
    border: 1px solid #5F5F5F;
    margin: -1px;
}
#filterpro div.option_box div.collapsible table tbody tr td label span.label-value,
#filterpro ul.box-filter.option_box li ul.collapsible li label span.label-value {
    position: absolute;
    right: 0;
    font-weight: bold;
}
#showmore {
    background: none repeat scroll 0 0 #f7f9fa;
    border-radius: 3px;
    color: #97d2ff;
    display: inline-block;
    margin-bottom: 28px;
    padding: 16px 1px;
    text-align: center;
    width: 100%;
}
#showmore a {
    border-bottom: 1px dashed;
    font-size: 20px;
    text-decoration: none;
}

#checklist .collapsible .value {
    color: grey;
    display: inline-block;
    position: relative;
    margin: 3px 5px 3px 0;
}

#checklist .value span.close {
    color: #57a8dd;
    cursor: pointer;
    font-weight: bold;
}
@media screen and (max-width: 768px){
#filterpro_box .ui-slider-horizontal {height: .7em !important;}
#filterpro_box .ui-state-default, #filterpro_box .ui-widget-content .ui-state-default, #filterpro_box .ui-widget-header .ui-state-default {height: 16px;width: 16px;margin-top:0;cursor: pointer; border-radius: 10px;box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);background: #fff!important;border: 1px solid #ccc!important;}
#filterpro_box input[type='checkbox'] + label {background: url(../image/checkboxes3.png) no-repeat;padding: 12px 11px;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
#filterpro_box input[type='checkbox']:checked + label {background-position: -23px 0;}   
#filterpro_box input[type='checkbox']:disabled + label {background-position: -46px 0;}
#filterpro_box input[type='checkbox'] + label +label {vertical-align: middle;}
.filterpro  {font-size: 14px;}
}
